Chapter 6 - Machine Learning/Lesson 2 - Machine Learning (ML) Development/Unsupervised Learning/Crop Disease Classification/datasets/*
Chapter 6 - Machine Learning/Lesson 2 - Machine Learning (ML) Development/Unsupervised Learning/Crop Disease Classification/splited-datasets/*
Chapter 6 - Machine Learning/Lesson 2 - Machine Learning (ML) Development/Unsupervised Learning/Emotion Classification/emotion_image_datasets/*